[Unit]
Description=Service for frontend of sausage-store application

[Service]
User=front-user
ExecStart=http-server /home/front-user/front/ -p $FRONT_PORT --proxy http://localhost:8080
Restart=always
StandardOutput=file:/logs/out-front.log
StandardError=file:/logs/out-front.log
AmbientCapabilities=CAP_NET_BIND_SERVICE
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target