[Unit]
Description=Service for backend of sausage-store application

[Service]
User=jarservice
Environment=LOG_PATH=/opt/log/
Environment=REPORT_PATH=/var/www-data/htdocs/
EnvironmentFile=-/etc/default/sausage-store-backend
Restart=always
StandardOutput=file:/opt/log/sausage-store.log
StandardError=file:/opt/log/sausage-store.log

ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.flyway.baselineOnMigrate=true
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target