[Unit]
Description=Service for backend of sausage-store application

[Service]
User=jarservice
Environment=LOG_PATH=/opt/log/
Environment=REPORT_PATH=/var/www-data/htdocs/
EnvironmentFile=-/etc/default/sausage-store-backend
Restart=always
StandardOutput=file:/opt/log/sausage-store.log
StandardError=file:/opt/log/sausage-store.log

ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}  \
--spring.datasource.username=${PSQL_USER} \
--spring.datasource.password=${PSQL_PASSWORD} \
--spring.flyway.baselineOnMigrate=true \
--spring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target